## hakyll cache

_cache/

## HPack artifact

kgadek-github-io.cabal

## HLint results

report.html

## Test results

results.xml

## Stack artifacts

.stack-work/

## Code coverage artifacts / results

*.tix
.hpc/
hpc_report/

## Profiling artifacts

*.prof
*.hp
*.eventlog

## Core/STG/Cmm output

core-html*

## Benchmark results

bench.html

## OS & editor stuff

tags
*.DS_Store
*~
.Trash-*

