<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>kpfp - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <a href="/">kgadek.github.io</a>
            </div>
            <div id="navigation">
                <a href="/">Home</a>
                <a href="/archive.html">Archive</a>
                <a href="/gpg.html">GPG</a>
            </div>
        </div>

        <div id="content">
            <h1>$title$</h1>
            $body$
        </div>

        <div id="footer">
            For silly people (<cite>What do you mean, "I&nbsp;ain't kind"?</cite>):
            It's a <em>personal</em> blog.
            Opinions of my own, not of <code>$$WHOEVER_ELSE</code>.
            I&nbsp;like pie.
            You&nbsp;may call me a <abbr title="Information technology">IT</abbr>/<abbr title="Computer Science">CS</abbr> professional, but I&nbsp;still may be wrong.
            <abbr title="Your mileage may vary">YMMV</abbr>.
            Risk is all yours.
            <br>
            <abbr title="I&nbsp;am not a lawyer">IANAL</abbr>, <abbr title="This is not legal advice">TINLA</abbr>, <abbr title="I&nbsp;am not a Medical Doctor">IANAMD</abbr>,&nbsp;&hellip; <abbr title="I&nbsp;am not a physicist">IANAP</abbr>.
            I&nbsp;change opinions.
            I&nbsp;don't like pie.
            Wanna see <a href="/LICENSE.txt">licence</a>?
        </div>
    </body>
</html>
